<aside class="sidebar left-sidebar sticky">
    <button class="hamburger hamburger--spin" type="button" id="toggle-menu" aria-label="{{ T `toggleMenu` }}">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>

    <header class="site-info">
        {{ with .Site.Params.sidebar.avatar }}
            {{ if (default true .enabled) }}
            <figure class="site-avatar">
                <a href="{{ .Site.BaseURL | relLangURL }}">
                {{ if not .local }}
                    <img src="{{ .src }}" width="300" height="300" class="site-logo" loading="lazy" alt="Avatar">
                {{ else }}
                    {{ $avatar := resources.Get (.src) }}

                    {{ if $avatar }}
                        {{ $avatarResized := $avatar.Resize "300x" }}
                        <img src="{{ $avatarResized.RelPermalink }}" width="{{ $avatarResized.Width }}"
                            height="{{ $avatarResized.Height }}" class="site-logo" loading="lazy" alt="Avatar">
                    {{ else }}
                        {{ errorf "Failed loading avatar from %q" . }}
                    {{ end }}
                {{ end }}
                </a>
                {{ with $.Site.Params.sidebar.emoji }}
                    <span class="emoji">{{ . }}</span>
                {{ end }}
            </figure>
            {{ end }}
        {{ end }}

        <h1 class="site-name"><a href="{{ .Site.BaseURL | relLangURL }}">{{ .Site.Title }}</a></h1>
        <h2 class="site-description">{{ .Site.Params.sidebar.subtitle }}</h2>

        {{- with .Site.Menus.social -}}
            <ol class="social-menu">
                {{ range . }}
                    <li>
                        <a
                            href='{{ .URL }}'
                            {{ if eq (default true .Params.newTab) true }}target="_blank"{{ end }}
                            {{ with .Name }}title="{{ . }}"{{ end }}
                        >
                            {{ $icon := default "link" .Params.Icon }}
                            {{ with $icon }}
                                {{ partial "helper/icon" . }}
                            {{ end }}
                        </a>
                    </li>
                {{ end }}
            </ol>
        {{- end -}}
    </header>

    <ol class="menu" id="main-menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        {{ $active := or (eq $currentPage.Title .Name) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}

        <li>{{ .Page.Permalink | relLangURL }}</li>

        <li {{ if $active }} class='current' {{ end }}>
            <a href='{{ .URL | relLangURL }}' {{ if eq .Params.newTab true }}target="_blank"{{ end }}>
                {{ $icon := default .Pre .Params.Icon }}
                {{ if .Pre }}
                    {{ warnf "Menu item [%s] is using [pre] field to set icon, please use [params.icon] instead.\nMore information: https://docs.stack.jimmycai.com/configuration/custom-menu.html" .URL }}
                {{ end }}
                {{ with $icon }}
                    {{ partial "helper/icon" . }}
                {{ end }}
                <span>{{- .Name -}}</span>
            </a>
        </li>
        {{ end }}

        {{ if (default false .Site.Params.colorScheme.toggle) }}
            <li id="dark-mode-toggle">
                {{ partial "helper/icon" "toggle-left" }}
                {{ partial "helper/icon" "toggle-right" }}
                <span>{{ T "darkMode" }}</span>
            </li>
        {{ end }}
    </ol>
</aside>
